<div class="slider">Start: <input ng-model="start.value" type="range" max="65535" min="0" ng-change="updateCharacters()" /><div>
<div class="slider">Range: <input ng-model="range.value" type="range" max="2048" min="1" ng-change="updateCharacters()" /></div>
End: {{end}}
<div>
	<div ng-repeat="character in characters" class="character">
		<div>0x{{character.value.toString(16)}}</div>
		<div>{{character.character}}<div>
		<div>{{character.usedArea}}</div>
		<img src="{{character.imageURL}}" />
	</div>
</div>